
@{
    ViewData["Title"] = "Calculator";
    
}
@model CalculatorModel;

<!--GRADE CALCULATOR-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Grade Calculator</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!--This is my grade calculator form-->
        <h4 class="">Enter all values as a percent ex. (50 = 50%)</h4>
        <div class="calculator">

            <form method="post">
                <ul>
                    <li>
                        <label class="label">Assignments</label>
                        <input class="calc_input" id="assignment" asp-for="Assignment" />
                    </li>
                    <li>
                        <label class="label">Quizzes</label>
                        <input class="calc_input" id="quiz" asp-for="Quiz" />
                    </li>
                    <li>
                        <label class="label">Group Project</label>
                        <input class="calc_input" id="group_project" asp-for="Group_Project" />
                    </li>
                    <li>
                        <label class="label">Midterm Exam</label>
                        <input class="calc_input" id="midterm" asp-for="Midterm" />
                    </li>
                    <li>
                        <label class="label">Final Exam</label>
                        <input class="calc_input" id="final" asp-for="Final" />
                    </li>
                    <li>
                        <label class="label">INTEX</label>
                        <input type="number" class="calc_input" id="intex" asp-for="Intex" />
                    </li>
                </ul>

                <input id="btnSend" type="submit" value="Calculate" />

            </form>
            <!--this will display the validation-->
            <div asp-validation-summary="All"></div>
        </div>
        <div id="endGrade">

        </div>

    </div>
    
</section>

