@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Calculator";
}
<!--GRADE CALCULATOR-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Grade Calculator</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!--This is my grade calculator form-->
        <h4 class="">Enter all values as a percent ex. (50 = 50%)</h4>
        <div class="calculator">

            <form action="/" method="post">
                <ul>
                    <li>
                        <label class="label">Assignments</label>
                        <input type="number" class="calc_input" id="assignment" min="0" max="100" value="25% ect." />
                    </li>
                    <li>
                        <label class="label">Quizzes</label>
                        <input type="number" class="calc_input" id="quiz" value="" />
                    </li>
                    <li>
                        <label class="label">Group Project</label>
                        <input type="number" class="calc_input" id="group_project" value="" />
                    </li>
                    <li>
                        <label class="label">Midterm Exam</label>
                        <input type="number" class="calc_input" id="midterm" value="" />
                    </li>
                    <li>
                        <label class="label">Final Exam</label>
                        <input type="number" class="calc_input" id="final" value="" />
                    </li>
                    <li>
                        <label class="label">INTEX</label>
                        <input type="number" class="calc_input" id="intex" value="" />
                    </li>
                </ul>
                <input type="button" id="btnSend" value="Calculate" />

            </form>


        </div>
        <div id="endGrade">

        </div>
    </div>
</section>

