@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Zach McWhorter";
}



    
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="Images/IMG-1639.jpg" alt="..." />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Zach McWhorter</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0"></p>
        </div>
    </header>
    <section class="page-section">
        <div class="container">
            <div class="container_z">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>IS 413</h2>
                        <p>
                            I hope that I will gain solid skills in C# since it seems to be a popular language employers are wanting.
                            I hope that I will develop skills as a problem solver and learn general programming techniques that will help me in any situation.
                        </p>
                    </div>
                    <div class="col-sm-6 other">
                        <h2>Top #3 Jobs</h2>
                        <ol>
                            <li>Software Engineer</li>
                            <li>Database Engineer</li>
                            <li>Technical Consultant</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>
    </section>
    

   



